.row.eventi
  .col-md-4
    %img{ class: "bloque img-thumbnail", src: "https://maps.googleapis.com/maps/api/staticmap?center=#{eventi.location}&maptype=roadmap&zoom=17&size=390x210&sensor=true&markers=size:big%7Ccolor:red%7C#{eventi.location}"}
  .col-md-4
    = image_tag(eventi.photo(:thumb), class: "bloque img-responsive img-thumbnail")
  .col-md-4
    %h2= link_to eventi.title, eventi_path(eventi)
    %p= truncate(eventi.description, length: 150)
    %p
      %i.glyphicon.glyphicon-calendar
      = eventi.date.strftime("%d/%m/%Y %H:%M %p")
    %p
      %i.glyphicon.glyphicon-map-marker
      = eventi.location
