%h1 Eventi
- @eventis.each do |eventi|
  - if eventi.photo.exists?
    = render partial: 'w_picture', locals: {eventi: eventi}
  - else
    = render partial: 's_picture', locals: {eventi: eventi}
  %hr
  = paginate @eventis
