.row.eventis
  .col-md-4
    %img{ class: "bloque img-thumbnail img-responsive", src: "https://maps.googleapis.com/maps/api/staticmap?center=#{@eventi.location}&maptype=roadmap&zoom=17&size=300x200&sensor=true&markers=size:big%7Ccolor:red%7C#{@eventi.location}"}

  .col-md-8
    %h1= @eventi.title
    %span
      %i.glyphicon.glyphicon-calendar
      = @eventi.date.strftime("%d/%m/%Y %H:%M %p")
    %span.pull-right
      %i.glyphicon.glyphicon-map-marker
      = @eventi.location
    = simple_format(@eventi.description)
    - if @eventi.photo
      = image_tag(@eventi.photo.url(:medium), class: "bloque img-thumbnail")
