%h1 Classi e Orari
%h2 I corsi si svolgono
- @locations.each_slice(2) do |loc|
  .row
    - loc.each do |location|
      .col-sm-6
        .location.oraricont
          = image_tag('map.png', :class => 'bloque img-responsive map')
          %h2= location.name
          .row
            - (0..6).to_a.each do |d|
              .col-sm-1
                = render partial: 'shared/day', locals: { oraris: location.oraris.where(day: d).order(from: :asc), day: Orari::WEEK[d][0].upcase }
