.col-md-5
  .carousel.slide#bedCarousel{:"data-ride" => "carousel"}
    %ol.carousel-indicators
      %li{ :"data-target" => "#bedCarousel", :"data-slide-to" => "0", :class => "active"}
      %li{ :"data-target" => "#bedCarousel", :"data-slide-to" => "1"}
      %li{ :"data-target" => "#bedCarousel", :"data-slide-to" => "2"}
      %li{ :"data-target" => "#bedCarousel", :"data-slide-to" => "3"}
      %li{ :"data-target" => "#bedCarousel", :"data-slide-to" => "4"}
      %li{ :"data-target" => "#bedCarousel", :"data-slide-to" => "5"}
    .carousel-inner{role: "listbox"}
      .active.item
        = image_tag("vista_frontale.jpg", :class => "img-responsive img-astanga")
      .item
        = image_tag("cucina.jpg", :class => "img-responsive img-astanga")
      .item
        = image_tag("soggiorno_1.jpg", :class => "img-responsive img-astanga")
      .item
        = image_tag("soggiorno_2.jpg", :class => "img-responsive img-astanga")
      .item
        = image_tag("cammera_doppia.jpg", :class => "img-responsive img-astanga")
      .item
        = image_tag("cammera_tripla.jpg", :class => "img-responsive img-astanga")
