.container.full
  .slide-holder
  .carousel.slide#ashtangaCarousel{:"data-ride" => "carousel"}
    %ol.carousel-indicators
      %li{ :"data-target" => "#ashtangaCarousel", :"data-slide-to" => "0", :class => "active"}
      %li{ :"data-target" => "#ashtangaCarousel", :"data-slide-to" => "1"}
      %li{ :"data-target" => "#ashtangaCarousel", :"data-slide-to" => "2"}
      %li{ :"data-target" => "#ashtangaCarousel", :"data-slide-to" => "3"}
      %li{ :"data-target" => "#ashtangaCarousel", :"data-slide-to" => "4"}
    .carousel-inner{role: "listbox"}
      .active.item
        = image_tag("banner.png", :class => "img-responsive img-astanga")
      .item
        = image_tag("banner1.png", :class => "img-responsive img-astanga")
      .item
        = image_tag("banner2.png", :class => "img-responsive img-astanga")
      .item
        = image_tag("banner3.png", :class => "img-responsive img-astanga")
      .item
        = image_tag("banner4.png", :class => "img-responsive img-astanga")
