.footer
  .container
    .row
      .col-sm-4.barrita
        %h3 Siti da segnalare
        %ul.list-unstyled
          %li
            %a{:href => "http://www.astanga.it/", :target => "_blank"} Astanga Yoga Research Institute
          %li
            %a{:href => "http://www.astangamilano.it/", :target => "_black"} Ashtanga Yoga Milano
          %li
            %a{:href => "http://www.hathayoga.it/", :target => "_black"} Parinama Yoga
          %li
            %a{:href => "http://www.ashtangayogariccione.it/", :target => "_black"} Ashtanga Yoga Riccione
      .col-sm-4.barrita
        %h3 Contattaci
        %ul.list-unstyled
          %li (+39) 348-150-2714
          %li (+39) 339-845-3868
          %li brancayoga@gmail.com
          %li
            %a{:href => "https://www.facebook.com/ashtangayogaurbino", :target => "_blank"} Facebook Ashtanga Yoga Urbino
  .creditos
    .container
      = "&copy;#{Time.now.year} Ashtanga Urbino".html_safe
      %br
      Grafica:
      %a{:href => "https://www.abrahmatansini.com", :target => "_blank"} Abrahma Tansini
      \/ Programazione:
      %a{:href => "https://mijailr.com", :target => "_blank"} Mijail Rondon
