.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button{ :class => "navbar-toggle collapsed", :"data-toggle" => "collapse", :"data-target" => "#astanga-menu" }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse#astanga-menu
      %ul.nav.navbar-nav
        %li
          = link_to "Home", root_path
        %li.dropdown
          %a{:href => "#", :class => "dropdown-toggle", :"data-toggle" => "dropdown", :role => "button", :"aria-haspopup" => "false", :"aria-expanded" => "false"}
            Il Metodo
            %b.caret
          %ul.dropdown-menu
            %li
              = link_to "La Tradizione", tradizione_path
            %li
              = link_to "Il Sisteme dei Vinyasa", vinyasa_path
            %li
              = link_to "Istruttore", istruttore_path
        %li
          = link_to "Classi e Orari", classi_path
        %li
          = link_to "Bed & Breakfast", bed_path
        %li
          = link_to "Eventi", eventis_path
        %li
          = link_to "News", news_path
        %li
          = link_to "Galleria", galleria_path
        %li
          = link_to "Contattaci", contacti_path
