%h1 Yoga News
- @notis.each do |noti|
  .row.eventi
    .col-md-4
      - if noti.photo
        = image_tag(noti.photo.url(:thumb), :class => "img-responsive img-thumbnail")
    .col-md-8
      %h2= link_to noti.title, noti_path(noti)
      %p= truncate(noti.content, length: 300)
      %span
        %i.glyphicon.glyphicon-calendar
        = noti.created_at.strftime("%d/%m/%Y %H:%M %p")
  %hr
  = paginate @notis
