.row.eventis
  .col-md-4
    = image_tag(@noti.photo.url(:thumb), class: "bloque img-responsive img-thumbnail")
  .col-md-8
    %h1= @noti.title
    %span
      %i.glyphicon.glyphicon-calendar
      = @noti.created_at.strftime("%d/%m/%Y %H:%M %p")
    = simple_format(@noti.content)
    - if @noti.photo
      = image_tag(@noti.photo.url(:medium), class: "bloque img-responsive img-thumbnail")
