.blueimp-gallery.blueimp-gallery-controls#blueimp-gallery
  .slides
  %h3.title
  %a.prev
    <
  %a.next
    >
  %a.close
    x
  %a.play-pause
  %ol.indicator
%h1 Galleria
- @pictures.each_slice(3) do |photos|
  .row#links
    - photos.each do |photo|
      .col-sm-4.galleria
        %a{href: photo.photo.url(:medium), title: photo.title, :"data-gallery" => "ashtanga-gallery"}
          = image_tag(photo.photo.url(:thumb), :class => "img-responsive img-thumbnail")
%link{:rel => "stylesheet", :href => "/css/blueimp-gallery.min.css"}
%script{:src => "/js/jquery.blueimp-gallery.min.js"}
