%h1 Bed & Breakfast
.row
  = render partial: "shared/bed_carrusel"
  .col-md-7
    %p
      In una piccola collina, chiamata  Il Colle,  da cui si gode la vista dei monti Mondiego e Nerone che si svelano Imponenti di fronte  e del paesino di Piobbico che si adagia tra i due rilievi, sorge in un piccolo Borgo rurale il B&amp;B BrancaYoga. Il  Parco del Monte Nerone e le campagne limitrofe quasi selvaggie e con una bassissima antropizzazione costituiscono il luogo ideale per immergersi nella natura e godere di momenti di relax , di avventura, di sport all’aperto. Innumerevoli percorsi per la mountain bike, falesie molto apprezzate dagli amanti dell’arrampicata sportiva, percorsi speleologici nelle grotte del monte Nerone , trekking attraverso affascinanti  sentieri alla scoperta di antichi mulini, conventi abbandonati, ruderi di castelli . La visita  al Castello Brancaleoni , nell’abitato di Piobbico, ricco di storia e di arte. Ma la specialità del B&amp;B BrancaYoga è la possibilità di coniugare il contesto di cui sopra con la pratica dello Yoga, di cui Sandro Brancaleoni è appassionato e istruttore dal 1999.(Diplomato UISP). Il B&amp;B BrancaYoga in circa 200 mq ha disposizione 2 camere doppie e una tripla, due bagni, un’ampia cucina, un soggiorno e una yogashala  attrezzata per lo yoga . Si affitta il posto letto o l’intera struttura. Inoltre è possibile prenotare oltre all’alloggiamento anche le eventuali lezione di yoga.
    %p
      Per informazioni e prenotazioni  tel 348 1502714 339 8453868
