.row.inicio
  .col-md-4
    %a{:href => eventis_url}
      = image_tag('event.png', class: 'bloque')
      %h2 Eventi

  .col-md-4
    %a{:href => classi_url}
      = image_tag('yoga.png', class: 'bloque')
      %h2 Classi e Orari
  .col-md-4
    %a{:href => bed_url}
      = image_tag('rest.png', class: 'bloque')
      %h2 Bed & Breakfast
.row
  - if @eventi
    .col-sm-6
      .index-en
        %h2= link_to @eventi.title, eventi_path(@eventi)
        %img{ class: "img-responsive", src: "https://maps.googleapis.com/maps/api/staticmap?center=#{@eventi.location}&maptype=roadmap&zoom=17&size=523x261&sensor=true&markers=size:big%7Ccolor:red%7C#{@eventi.location}"}

  - if @noti
    .col-sm-6
      .index-en
        %h2= link_to @noti.title
        = image_tag(@noti.photo.url(:index), :class => "img-responsive")
