%h1 Istruttore
.row
  .col-md-5
    =image_tag 'istruttore.jpg', :class => "img-rounded"
  .col-md-7
    %p
      Sandro Brancaleoni dal 1990 lavora come Informatore Scientifico del farmaco nella provincia di Pesaro-Urbino e contemporaneamente comincia ad interessarsi e a praticare lo Yoga.
    %p
      Nel 1999 consegue il diploma di istruttore riconosciuto UISP presso la scuola del  M°Bruno Baleotti di Bologna (metodo Parinama) ed inizia ad insegnare. Nel 2000 comincia a praticare l’Asthanga vinyasa Yoga presso Asht.
    %p
      Yoga Research Istitute diretta dal M° Lino Miele, frequentanto da allora costantemente i workshops e i ritiri . Viene autorizzato nel giugno 2011 dal M° Miele ad introdurre l’insegnamento della 1°serie. Nel 2011 interrompe l’attività di Informatore Scientifico per occuparsi a tempo pieno allo Yoga.
    %p
      Nel giugno 2013 partecipa al In-Depth Study of Astanga Yoga, organizzato dal M°Miele in collaborazione con i suoi assistenti dell’AYRI di Roma, conseguendo il diploma all’insegnamento della prima serie.
