%h1 Il sistema dei Vinyasa
.row
  .col-md-5
    =image_tag 'jois.png', :class => "img-responsive img-rounded"
  .col-md-7
    %p
      Lo Yoga è una filosofia di vita che ha nel suo potenziale anche quello di creare un corpo ed una mente forti e sani
    %p
      La particolarità dell'Ashtanga Yoga è data dal sistema del Vinyasa (respiro e movimento). Il Vinyasa regola il respiro e garantisce una buona circolazione del sangue, garantendo corpo forte e, allo stesso tempo, leggero. Attraverso questa pratica che unisce una corretta respirazione (Ujjayi), le posture (asanas) e lo sguardo (dristi) si ottiene un controllo dei sensi e una profonda consapevolezza di se stessi fisica, psicologica e spirituale.
    %p
      Questo antico metodo è caratterizzato da una sequenza di posizioni concatenate tra loro e sincronizzate con il respiro. Il respiro unisce il corpo con la parte più profonda della mente - lo spirito - e lo spirito della pratica dell'Ashtanga è il respiro. L'Ashtanga Yoga va praticato nel suo corretto ordine sequenziale meticolosamente rispettato perchè ogni asana (postura) è una preparazione per la successiva e sviluppa la forza e l'equilibrio per andare avanti.
    %p
      Acquisendo la capacità di un respiro lungo e profondo la mente diviene calma e concentrata, i pensieri si fermano e ciascun movimento fluisce gentilmente e accuratamente da un'asana all'altra. Quando respiro e movimento fluiscono senza sforzo ed in perfetta armonia, allora la pratica dell'Ashtanga Yoga trascende la consapevolezza e si evolve nella leggerezza di una meditazione in movimento.
    %p
      Il respiro, Ujjayi, è il cuore di questa disciplina. Sincronizzato con il movimento (vinyasa) e praticando Mula e Uddiyana Bandhas (chiusure) si produce un intenso calore il quale purifica i muscoli e gli organi interni eliminando, tramite la sudorazione, le tossine e liberando ormoni benefici e sali minerali che sono un ottimo alimento per il corpo. L'espirazione è un movimento verso il Dio e l'inspirazione rappresenta un assorbimento da Dio. Secondo gli insegnamenti di Sri K. Pattabhi Jois "il Respiro è Vita". Allungare il respiro, con la pratica, allunga la Vita. La consapevolezza del respiro porta leggerezza, elasticità e forza nei movimenti, aumenta la sensibilità e la ricezione agli stimoli esterni.... per conoscere se stessi.
    %p
      La pratica: si dice che dove non c'è sforzo non ci può essere beneficio. Forza, stamina e sudore sono gli aspetti unici e particolari di questa antica e tradizionale forma di yoga che apparentemente sembra contradire la visione occidentale dello yoga in genere. Questa pratica così esigente richiede un notevole sforzo, sviluppa, però, una grande energia vitale che circola attraverso il corpo, rafforzando e purificando il sistema nervoso. La mente allora diventa lucida, chiara e precisa.
