 @import "bootstrap-sprockets";
 @import "bootstrap";
 @mixin column-adjust($column,$gutter) {

     // set custom variables for our grid structure
     $grid-columns: $column !global;
     $grid-gutter-width: $gutter !global;

     .row {
         @include make-row();
     }
     @include make-grid-columns();
     // @include make-grid(xs);
     @media (min-width: $screen-sm-min) {
         @include make-grid(sm);
     }
     @media (min-width: $screen-md-min) {
         @include make-grid(md);
     }
     @media (min-width: $screen-lg-min) {
         @include make-grid(lg);
     }


 }


 body{
 background:#265954 url(asset-path('bg.png'));
 padding-top: 60px;
 }

 .header{
 width:960px;
 margin:0 auto;
 }
 .slide-holder{
 background:#143B3F;
 height:30px;
 }
 .navbar-inner{
 background:#082024 !important;
 }
 .navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus{
 background:#D9DBDB;
 color:#082024;
 }
 .blanco{
 padding:0 10px;
 padding-bottom: 20px;
 background:#fff;
 -webkit-border-bottom-right-radius: 30px;
 -webkit-border-bottom-left-radius: 30px;
 -moz-border-radius-bottomright: 30px;
 -moz-border-radius-bottomleft: 30px;
 border-bottom-right-radius: 30px;
 border-bottom-left-radius: 30px;
 }
 .carousel{
 margin-bottom:0;
 background:#fff;
 }
 .bloque{
 display:block;
 margin: 0 auto;
 }
 img.img-astanga{
   width: 100%;
 }
 .inicio{

 }
 .inicio a{
 text-decoration:none;
 color:#333;
 }
 .inicio a h2{
 font-weight:normal;
 text-align:center;
 }
 .formulario{
 	margin-top: 50px;
 }
 .footer{
 	background: #265160 url(asset-path('footerbg.png'));
 	margin-top: 20px;
 	color:#fff;
 	min-height: 120px;
 	font-size: 12px;

 }
 .footer a{
 	color:#fff;
 	text-decoration: none;
 }
 .footer a:hover{
 	text-decoration: underline;
 }
 .footer h3{
 	font-size: 14px;
 	line-height: 14px;
 }
 .barrita{
 	background: transparent url(asset-path('barrita.png')) top left no-repeat;
 	padding-left:10px;
 	margin-top:10px;
 	padding-bottom: 10px;
 	min-height: 120px;
 	}
 .barrita img{
 	margin-bottom: 15px;
 }
 .creditos{
 	text-align: center;
 	color:#FFF;
 	background: #202021;
 	min-height: 60px;
 	font-size:12px;
 	vertical-align: center;
 	padding-top: 20px;
 	font-weight: bold;

 }
 .creditos a{
 	text-decoration: underline;
 	color:#fff;
 }
 .separa{
 	padding-left:50px;
 }
 .carousel-caption{
 	background: #163B40;
 	background: rgba(22, 59, 64, 0.75);
 	-webkit-border-bottom-right-radius: 10px;
 	-webkit-border-bottom-left-radius: 10px;
 	-moz-border-radius-bottomright: 10px;
 	-moz-border-radius-bottomleft: 10px;
 	border-bottom-right-radius: 10px;
 	border-bottom-left-radius: 10px;
 }
 .thumbnail img{
 	max-height: 218px;
 	min-height: 218px;
 }

 .captioned{

 }
 .captioned span{
 text-align:center;
 color:#fff;
 font-size:12px;
 background:#163B40;
 padding: 5px 0px 5px 0px;
 float:left;
 margin-top:10px;
 width:100%;
 }
 .container.full{
   padding:0;
 }
 .eventi{
   padding-bottom: 10px;
 }
 .captioned img{
 float:left;
 }
.navbar-inverse{
  background: #082024;
}
.lb-blanco{
  background:#fff;
  margin: 0 auto;
  padding-bottom: 20px;
  -webkit-border-bottom-right-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-radius-bottomright: 30px;
  -moz-border-radius-bottomleft: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.galleria{
  margin-bottom: 10px;
}
.location {
  @include column-adjust(7, 10px );
}

.location .row{
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.location{
  text-align: center;
  background-color: #e6e6e6;
  border-radius: 10px;
  margin-bottom: 20px;
}
.location h2{
  font-size: 20px;
  margin-top: 0;
  color: #302c2d;
}
.location h3{
  color: #fff;
}
.location .letras{
    background-color: #808080;
}
.from-to{
  margin-top:10px;
  background-color: #cccccc;
}
.index-en{
    border-radius: 10px;
    margin-top: 10px;
    position: relative;
}
.index-en img{
  width: 100%;
  border-radius: 10px;
}
.index-en h2 a{
  background-color: rgba(0,93,112,.8);
  color: white;
  text-align: center;
  font-size: 25px;
  padding: 5px;
  margin: 0;
  border-radius: 10px 10px 0 0;
  position: absolute;
  width: 100%;
}
.index-en h2 a, .index-en h2 a:visited{
  text-decoration: none;
  color: #fff;
}
