!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}
    %meta{:name => 'viewport', :content => "width=device-width, initial-scale=1"}

    - if !@custom_title
      %title Astanga Yoga Urbino
    - else
      %title= "#{@custom_title} | Astanga Yoga Urbino"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render partial: "shared/menu"
    = render partial: "shared/carrusel"
    %div.container.lb-blanco
      = yield
    = render partial: "shared/footer"
